trigger:
  branches:
    include:
      - main
      - features/*

pool:
  name: Infrabasicagentpool

jobs:
# ---------------- PLAN JOB (ALL BRANCHES) ----------------
- job: TerraformPlan
  displayName: Terraform Init, Validate & Plan
  steps:

  - task: TerraformInstaller@1
    displayName: Install Terraform
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      backendServiceArm: 'Service Connection infra basic'
      backendAzureRmStorageAccountName: 'tfstateavi31911734925360'
      backendAzureRmContainerName: 'infrabasicblob-tfstate'
      backendAzureRmKey: 'infrabasictfstatefile.tfstate'

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: azurerm
      command: validate
      workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: azurerm
      command: plan
      workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      environmentServiceNameAzureRM: 'Service Connection infra basic'

# ---------------- MANUAL VALIDATION (FEATURES ONLY) ----------------
- job: ManualValidation
  displayName: Manual Approval (features branch)
  dependsOn: TerraformPlan
  condition: |
    and(
      succeeded(),
      startsWith(variables['Build.SourceBranch'], 'refs/heads/features/')
    )
  pool: server
  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: |
        avinash.miet2008@gmail.com
      instructions: |
        Terraform plan successful.
        Please approve to allow PR merge into main.
      onTimeout: reject

# ---------------- APPLY (MAIN ONLY) ----------------
- job: TerraformApply
  displayName: Terraform Apply (main branch only)
  dependsOn: TerraformPlan
  condition: |
    and(
      succeeded(),
      eq(variables['Build.SourceBranch'], 'refs/heads/main')
    )
  steps:

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      backendServiceArm: 'Service Connection infra basic'
      backendAzureRmStorageAccountName: 'tfstateavi31911734925360'
      backendAzureRmContainerName: 'infrabasicblob-tfstate'
      backendAzureRmKey: 'infrabasictfstatefile.tfstate'

  - task: TerraformTask@5
    displayName: Terraform Apply
    inputs:
      provider: azurerm
      command: apply
      workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      environmentServiceNameAzureRM: 'Service Connection infra basic'
      commandOptions: '-auto-approve'


